body {
    background-color: #F4E3D7;
    margin: 0;
    padding: 0;
}
.propnavbar {
    background-color: #333333;
    width: 99.4vw;
    height: 45px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}
.homes {
    text-decoration: none;
    color: white;
    margin-left: 110px;
}
.flats {
    text-decoration: none;
    color: white;
    margin-left: 200px;
}
.buildings {
    text-decoration: none;
    color: white;
    margin-left: 200px;
}
.about {
    text-decoration: none;
    color: white;
    margin-left: 200px;
}
.searchbar2 {
    margin-left: 200px;
    border-radius: 10px;
    height: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.searchbutton {
    background-color: gold;
    border-radius: 10px;
    height: 25px;
}
.head1 {
    margin-left: 40%;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}
.knowmore {
    background-color: rgba(255,255,255,0.7);
    height: 40px;
    margin-left: 40%;
    width: 50%;
    display: flex;
    align-items: center;
}
.getknow {
    text-decoration: none;
    margin-left: 60px;
    color: black;
    font-weight: bold;
}
.view {
    margin-left: 10px;
    color: blue;
    font-weight: 200;
}
.property1 {
    background-color: white;
    height: 40vh;
    width: 52vw;
    margin-left: 40%;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
}
.propimage1 {
    height: 90%;
    width: 50%;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
}
.prop1text {
    background-color: #333333;
    height: 90%;
    width: 40vw;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}
.vasundhara {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: medium;
}
.bhk3 {
    text-decoration: none;
    color: white;
    font-size: medium;
}
.bhk3div {
    margin-top: 5px;
}
.sector32 {
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.pricediv {
    background-color: white;
    height: 10vh;
    width: 25%;
}
.propimage2 {
    height: 90%;
    width: 50%;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
}
.propimage3 {
    height: 90%;
    width: 50%;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
}
.property2 {
    background-color: white;
    height: 40vh;
    width: 52vw;
    margin-left: 40%;
    margin-top: 30px;
    border-radius: 20px;
}
.property3 {
    background-color: white;
    height: 40vh;
    width: 52vw;
    margin-left: 40%;
    margin-top: 30px;
    border-radius: 20px;
}